*{
    font-size: 12pt;
    font-family: Lato,Arial,sans-serif;
    
}
.container__watch{
 max-width: 1200px;
 display: flex;
 margin: auto;
 position: relative;
 margin-top: -9px;
}
.container__watch1{
    flex:7% ;
  
  
}
.container__watch2{
   
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto ;
    z-index: -1;
    margin-left: -27px;
}
.sice__watch{
    flex:70% ;
    
}
.cc{
    flex:70% ;
    margin-left: 50px;
 
}
.sice-watch{
margin-top: 20px;
width: 1000px;
}
@media all and (max-width:600px) {
    .container__watch2{
        display: grid;
        grid-template-columns: auto auto   ;
    }
}
.menu{
    max-width: 250px;
}
.menu_img{
    margin-left: 10px;
    width: 218px;
    height: 223px;
    margin-top: 10px;
    transition: 0.3s ease-in;
    overflow: auto;
}
.menu_img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 5px black;
}
.menu_price{
    color: crimson;
}
.menu_price1{
    margin-left: 10px;
    font-size: 13.5px;
    color: rgb(134, 134, 134);
    text-decoration: line-through;
}
.menu_name-price{
    margin-top: 15px;
}
/**/
.trademark{
    margin: auto;

max-height: 143px;
border: 0.003em solid rgb(235, 230, 230);
overflow-y: scroll;
}
.trademark > span{
    font-size: 16.5px;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
}
.checkbox{
font-size: 20px;
margin-top: 4px;
cursor: pointer;
font-weight: 700;


}
button{
    width: 30px;
    height: 30px;
}
.container-trade{
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.container-trade{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.sice_image{
    width: 100px;
    height: 55px;
    margin-left: 10px;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 5px;
}
.bum{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterPrice{
    display: flex;
    position: relative;
    width: 200px;
    margin-left: -15px;
    right: 0;
}
.box {
    position: absolute;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(179, 179, 187);
    border-left: 8px solid transparent;
margin-top: -16px;
margin-left: 75px;
  }
.zindex{
    z-index: 10000;
    position: absolute;
    background: rgb(252, 252, 252);
    margin-top: 10px;
    width: 200px;
}
.total{
    margin-left: 30px;

}
.zindex ul li{
border-bottom: 0.5px solid gray;
border: none;
padding: 2px;
}
.menu-button{
    width: 200px;
    margin-top: 30px;
    background: black;
    color: white;
    font-size: 13px;
}
.watch-input{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.watch-input input{
    width: 70px;
    font-size: 14px;
}
.watch-input input:first-child{
   margin-right: 15px;
}
.watch-input input:last-child{
    margin-left: 15px;
}
.description{
    font-size: 14px;
}
/**/
.foucuscontent{
    max-width: 1200px;
    margin:50px auto;
    font-size: 14px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 34%, rgba(219,219,219,1) 81%);
}
.page{
    text-align: center;
    margin-top: 50px;
}